* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.kodfun-galeri {
    display: flex;
    height: 20rem;
    gap: 1rem;
  }

  .kodfun-galeri > div {
    flex: 2;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  }

  .kodfun-galeri > div:hover {
    flex: 5;
  }
